In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from model.kdd import KDD_Hardcoded
from utils import FAR, FDR

%matplotlib inline

In [23]:
TEST_DATASET = '../res/'+'model_2021_ST4000DM000.csv'

In [24]:
def compute_metrics(y_true, y_pred):
    return {
        'FAR': FAR(y_true, y_pred),
        'FDR': FDR(y_true, y_pred)
    }

In [26]:
data = pd.read_csv(TEST_DATASET)
data = data.groupby(['serial_number']).filter(lambda x: len(x) >= 21)
data.sort_values(by=['date'], inplace=True)

# take data for prediction
data = data.groupby('serial_number').tail(21)
print(data.shape)
data.head()

(397677, 179)

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_171_normalized,smart_171_raw,smart_172_normalized,smart_172_raw,smart_230_normalized,smart_230_raw,smart_244_normalized,smart_244_raw,smart_246_normalized,smart_246_raw
21398,2021-01-02,Z304JW5L,ST4000DM000,4000787030016,0,117.0,142271992.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40305,2021-01-03,Z304JW5L,ST4000DM000,4000787030016,0,104.0,7285200.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68090,2021-01-04,Z304JM6A,ST4000DM000,4000787030016,0,114.0,75080216.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59241,2021-01-04,Z304JW5L,ST4000DM000,4000787030016,0,116.0,104215944.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87026,2021-01-05,Z304JM6A,ST4000DM000,4000787030016,0,115.0,99115592.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data.failure.value_counts()

0    397355
1       322
Name: failure, dtype: int64

In [33]:
y = data['failure']
X = data.drop(['failure'], axis=1)

In [34]:
sum(y == 1), sum(y == 0)

(322, 397355)

In [35]:
predict = KDD_Hardcoded().predict(X)

In [36]:
compute_metrics(np.array(y), predict)

{'FAR': '0.094', 'FDR': '0.708'}